  <% provide(:title, 'Expense') %>
  <h1>Expense</h1>

    <%= form_for(@expense) do |f| %>

      <%= f.label :reference %>
      <%= f.text_field :reference %>

      <%= f.label :transaction_date %>
      <%= f.date_field :transaction_date %>

<% CURRENCY_CODES.each do |currency_codes| %>
  <%= puts currency_codes %>
<% end %>

      <%= f.label :"Amount in local currency" %>
      <%= f.text_field :lc_amount %>

      <%= f.label :payment_date %>
      <%= f.date_field :payment_date %>


      <%= f.label :comments %>
      <%= f.text_field :comments %>

      <%= f.submit "Create expense" %>

<% end %>
